.admin-section {
  background-color: #E2DFD7;
  border: 1px solid #bbb;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* showing contact view */

.contact-card {
  background-color: #fff;
	border: solid 1px #bbb;
	border-top: solid 2px #fcc;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-sizing: border-box;
	margin: 2em;
	padding: 0.25em 1em;
	width: 60%;
}

.contact-card dl {
  
}

.contact-card dl dt {
  font-weight: bold;
  margin: 0 0 0.25em 0;
}

.contact-card dl dd {
  margin: 0 0 0.5em 0;
}

/* make forms a bit friendlier */

textarea {
  height: 7em;
}

.phone-group {
  border: 1px solid #bbb;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  margin: 0 0 0.5em 0;
  padding: 1em;
  position: relative;
}

.phone-group input, .phone-group select {
  margin: 0 0 0.75em 0;
}

.phone-group .delete-item {
  margin-top: -1em;
  position: absolute;
  right: 1em;
  top: 50%;
}

.phone-group.deleted {
  background-color: #E8E7E2;
  border-color: #CCC;
  height: 1em;
  overflow: hidden;
}

.phone-group.deleted input, .phone-group.deleted select, .phone-group.deleted label {
  opacity: 0.25;
}

/* some stuff that should probably move to core-admin */

.format-controls li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: top;
}